source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect
nuget coverlet.collector
nuget FSharp.Text.RegexProvider
nuget FsUnit
nuget Unquote
nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit3TestAdapter